{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
{% for vacature in carousel %}
    <div class="vacature">
        <h4>{{ vacature.titel }}</h4>
        <p>{{ vacature.tekst }}
        <a href="{{ path('vacature', { "id": vacature.id}) }}">Bekijk</a>
    </div>
{% endfor %}
{% for vacature in laatste5 %}
    <div class="vacature">
        <h4>{{ vacature.titel }}</h4>
        <p>{{ vacature.tekst }}
        <a href="{{ path('vacature', { "id": vacature.id}) }}">Bekijk</a>
    </div>
{% endfor %}
<pre>
    {{ dump(carousel) }}
</pre>
{% endblock %}