<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}VacIT{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="{{ asset('/assets/css/foundation.css') }}" rel="stylesheet"/>
        <link rel="stylesheet" href="{{asset('assets/css/richtext.min.css')}}">
        <link href="{{ asset('/assets/css/main.css') }}" rel="stylesheet"/>
        <script src="{{ asset('assets/js/vendor/jquery.js')}}"></script>
        <script type="text/javascript" src="{{asset('/assets/js/jquery.richtext.js')}}"></script>
        <script src="{{ asset('assets/simpleuploader/SimpleAjaxUploader.js') }}"></script>  
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="Site">
        <header class="header">
            {% include "header.html.twig" %}
        </header>
        <main class="Content">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        </main>
        <footer class="footer-flex">
            {% include "footer.html.twig" %}
        </footer>
    <script src="{{ asset('assets/js/vendor/jquery.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/what-input.js')}}"></script>
    <script src="{{ asset('assets/js/vendor/foundation.js')}}"></script>
    <script src="{{ asset('assets/js/app.js')}}"></script>
    <script type="text/javascript" src="{{asset('/assets/js/jquery.richtext.js')}}"></script>
    <script src="{{ asset('assets/simpleuploader/SimpleAjaxUploader.js') }}"></script>  
    </body>
</html>
