<div class='header'>
    <div class='header-logo'>
            <div class='grid-x'>
                <div class='cell medium-2 small-4'>
                    <a href="{{ path('homepage') }}">
                        <img  id='logo' src="{{ asset('/assets/images/logo/logo.png') }}" alt="logo" width="200px">
                    </a>
                </div>  
                <div class='cell medium-10 small-8'>
                    <div data-responsive-toggle="main-nav" data-hide-for="medium" style="float: right;" >
                        <button class="menu-icon" type="button" data-toggle="main-nav"></button>
                        <div class="title-bar-title white" >Menu</div>
                    </div>
                    <div class="main-menu" id="main-nav" style="float: right;">
                        <div class="top-bar-right">
                            <ul class="menu vertical medium-horizontal">
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <li><a class="header" href="{{ path('fos_user_profile_show') }}"><h5>Mijn Profiel</h5></a></li>
                                    <li><a class="header" href="{{ path('Sollicitaties') }}"><h5>Mijn Sollicitaties</h5></a></li>
                                    <li><a class="header" href="{{ path('fos_user_security_logout') }}"><h5>{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</h5></a></li>
                                {% else %}
                                    <li><a class="header" href="{{ path('fos_user_security_login') }}"><h5>{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</h5></a></li>
                                    <li><a class="header" href="{{ path('fos_user_registration_register') }}"><h5>{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</h5></a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
            <div class="skew-header-shadow">
                <div class="skew-header"> </div>
            </div>