{% extends 'base.html.twig' %}

{% block title %}Mijn Sollicitaties{% endblock %}

{% block body %}

<div class="grid-x">
    <div class="cell medium-1"></div>
    <div class="cell medium-8">
        <br>
        <h3>Mijn Sollicitaties</h3>
        <br>
        <table>
            <thead>
                <th>Datum</th>
                <th>Vacature</th>
                <th>Bedrijf</th>
                <th>Uitgenodigd</th>
            </thead>
             <tbody>
                {% for data in sollicitaties %}
                    <tr>
                        <td>{{data.datetime|date("d/m/Y H:i")}}</td>
                        <td><a href="/vacature/{{data.vacature.id}}" class="link">{{data.vacature.titel}}
                            </a>
                        </td> 
                        <td><a href="/profiel/show/{{data.werkgever.id}}" class="link"> {{data.werkgever.naam}}</a>
                        </td>
                        <td>{% if data.uitgenodigd == 1 %} &#9989;
                        
                        {% endif %}
                        </td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>
    
</div>

       {{ dump (sollicitaties)}}
{% endblock body %}
