{% extends 'base.html.twig' %}

{% block title %}Hello VacatureController!{% endblock %}

{% block body %}
    {% for vacaturedata in vacaturedata %}
        
    
    <div class="vacature">
        <h4>{{ vacaturedata.titel }}</h4>
        <h6>{{ vacaturedata.niveau }}</h6>
        <p>{{vacaturedata.platform.naam}}<br>
        {{vacaturedata.platform.afbeelding}}
        <p>{{ vacaturedata.datum|date("d/m/Y")}}</p>
        <p>
            {{ vacaturedata.tekst }}
        </p>
        <p> {{ vacaturedata.werkgever.naam }}<br>
        {{ vacaturedata.werkgever.afbeelding }}<br>
        {{ vacaturedata.werkgever.adres }}<br>
        {{ vacaturedata.werkgever.postcode }}<br>
        {{ vacaturedata.werkgever.plaats }}<br>
    </div>
    <a href="{{ path('solliciteer', { "id": vacaturedata.id, "werkgever": vacaturedata.werkgever.id}) }}">SOLLICITEER DIRECT</a>


    {{ dump(vacaturedata) }}
    {% endfor %}
    
    

{% endblock %}
